
  @import url('https://fonts.googleapis.com/css2?family=Figtree:wght@300;400;500;600;700&family=Frank+Ruhl+Libre&family=Fraunces:opsz,wght@9..144,200;9..144,300;9..144,400;9..144,500;9..144,600&family=Montserrat+Alternates:wght@100;200;300;400;500;600;700;800;900&family=Fraunces:opsz,wght@9..144,200;9..144,300;9..144,400;9..144,500;9..144,600&family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100&family=Roboto:wght@300;400;500;700;900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}
body {
    font-family: 'Figtree', sans-serif;
font-family: 'Montserrat Alternates', sans-serif;
font-family: 'Poppins', sans-serif;
font-family: 'Roboto', sans-serif;
font-family: fraunces,serif;
font-family: frank ruhl libre,serif;
-webkit-font-smoothing: antialiased;
}
  .container{
    width: 100%;
    height: auto;
    overflow: hidden;
    margin: 0;
    padding: 0;
  }
  
/***** Container1 section *****/
.content{
    background-color: #FFF6F2;
    width: 100vw;
    height: 440px;

}
.container1{
    width: 100vw;
    height: 90vh;
}

/* nav-content */
.nav-content{
    width: 100vw;
    height: 75px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    padding: 0;
    left: 0px;
    right: 0px;
    position: fixed;
    z-index: 1000;
}
.sticky{
    background-color: white !important;
    box-shadow: 0px 0px 5px 0px rgba(40, 23, 19,0.1);
  
}

.logo{
    margin-left: 58px;
    cursor: pointer;
}
.menu{
    display: none;
}

.nav-list{
    display: flex;
    width: 100vw;
}
.nav-list ul{
    display: flex;
    list-style: none;
    margin-left: 17px;
    

}
.nav-list ul li{
    font-family: figtree,sans-serif;
    cursor: pointer;
    display: flex;
    align-items: center;
}

.nav-list ul li a{
    text-decoration: none;
    color:#281713;
    width: 100px;
    margin-left: 16px;
    font-size: 14px;
    font-weight: 600;
}
.nav-list ul li a:hover{
    color: rgb(210, 90, 55);
}

.search-top{
    border: none;
    outline: none;
    background-color: #F1F3F4;
    height: 44px;
    width: 400px;
   padding: 22px 20px;
    font-size: 14px;
    box-shadow: inset -2px -2px 2px rgba(0,0,0,.1),inset 2
    px 2px 2px rgba(255,255,255,.1);
    transition: all .3s ease-out;
    border-radius: 30px;
    margin-left: 80px;
   position: relative;
}
.s-line{
    border-right: #d6d6d4f3 solid 1px;
    height: 25px;
    position: absolute;
    left: 87%;
    top: 10px;

}
.search-top input{
    border: none;
    outline: none;
    background-color: transparent;
    width: 100%;
    position: absolute;
    top: 15px;

}
.search-top img{
    width: 16px;
    height: 16px;
    position: absolute;
    left: 90%;
    top: 15px;
    cursor: pointer;
}
.search-top input::placeholder{
    color: #aab6d1;
    font-size: 16px;
}

.register{
    font-family: figtree,sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
 margin-right: 94px;
}
.register span{

    display: flex;
    justify-content: center;
    align-items: center;
}
.search-bar{
    display: none;
}
.register .sign-in{
    font-weight: 500;
    width: 100px;
    font-size: 14px;
    cursor: pointer;
}
 .register .sign-up{
    width: 110px;
    padding: 12px;
    background-color: black;
    color: white;
    font-size: 14px;
    font-weight: 500;
    border-radius: 30px;
    animation: pulse 2s infinite;
    cursor: pointer;
 
}
@keyframes pulse{
    0% {
        -o-box-shadow: 0 0 0 0 rgba(204,169,44,.4);
        -ms-box-shadow: 0 0 0 0 #a5a5a5;
        box-shadow: 0 0 0 0 #a5a5a5;
    }
    70% {
        -o-box-shadow: 0 0 0 3px #a5a5a5;
        -ms-box-shadow: 0 0 0 3px #a5a5a5;
        box-shadow: 0 0 0 3px #a5a5a5;
    }
    100% {
        -o-box-shadow: 0 0 0 0 rgba(204,169,44,.4);
        -ms-box-shadow: 0 0 0 0 #a5a5a5;
        box-shadow: 0 0 0 0 #a5a5a5;
    }
}



.hero-section{
    display: flex;
    justify-content:center;
    align-items: center;
    flex-direction: column;
    width: 722px;
    height: 134px;
    margin-left: 25% ;
    text-align: center;
    font-family: fraunces,serif;  
    line-height: 4rem;
}
.sub-para{
    font-size: 55px;
    font-weight: 700;
    color: #281713;
    font-family: figtree,sans-serif;
}
.hero-section p{
    height: 124px;
    font-size: 55px;
    font-family: frank ruhl libre,serif;
    margin-top: 265px;
    color: #4A271E;
    font-weight: 500; 
}
.hero-box{
    width: 760px;
    height: 224px;
    background-color:#281511;
    border-radius: 50px;
    margin-left: 24%;
    margin-top:210px ;
    padding: 28px;
   
}

.search-box .input-box{
    display: flex;
    align-items: center;
    justify-content: center;
     width: 665px;
       height: 64px;
       outline: none;
       border: none;
       border-radius: 36px;
       background-color: #FFF6F2;
       margin-left: 20px;
       margin-top: -3px;
       padding: 22px 2px;
   
}
.input-box img{
    margin-left: 24px;
   vertical-align: middle;
   color: #a9b2c7e8;
}
.search-box input[type="text"] {
    width: 100%;
    height: 40px;
    border:none;
    outline: none;
    border-radius: 25px;
    padding-left: 8px;
    background-color: #FFF6F2;
    font-size: medium;
    font-weight: 300;
    }
    .search-box input::placeholder{
        color: #9CA6BE;
        font-size: 16px;
    }
    .search-box .search{
        color: white;
        cursor: pointer;
        background-color: red;
        border: none;
        border-radius: 55px;
        padding: 15px;
        font-family: figtree,sans-serif;
        width: 163px;
        height: 60px;
        display: flex;
        justify-content: center;
        align-items: center;
    
     
    }
    .box-content{
        width: 920px;
       margin-left: -123px;
       padding: 10px;
    }

    .box-content .content1{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        width: 700px;
        height: 30px;
        margin-left: 170px;
        font-family: figtree,sans-serif;
    }
    .content1-title{
        font-size: 14px;
        font-weight: 600;
        margin-left: 200px;
        padding-top: 20px;
        margin-top: 10px;
        font-family: figtree,sans-serif;
    }
    .box-content .content1 p{
        margin-left: 8px;
        margin-top: -40px;
        font-size: 14px;
    }
    .content1 .con{
        height: 28px;
        border-radius: 30px;
        padding: 5px 11px;
        box-shadow:  rgba(252, 247, 247, 0.5) 0.5px 0px 1.5px;
        font-weight: 600;
        font-size: 14px;
        cursor: pointer;
    }
     

    .box-content .content2{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        font-family: figtree,sans-serif;
        cursor: pointer;
        margin-left: 10px;
    }
    .box-content .content2 p{
        margin-top: -8px;
        margin-right: 10px;
    }
    .content1-head{
        display: none;
    }
    .content2 .con1{
          border-radius: 30px;
          padding: 3px;
          padding-right: 8px;
          padding-left: 8px;
          box-shadow:  rgba(252, 247, 247, 0.5) 0.5px 0px 1.5px;
          font-weight: 600;
          font-size: 14px;
      }

/***** End Container1 section *****/


/***** container2 section *****/
.container2{
    margin-top: 45px;
}
.container-head{
    font-family: figtree,sans-serif;
    text-align: center;
    font-size: 24px;
    font-weight: 550;
    margin-bottom: 40px;
   
}

.container-img .images{
display: flex;
align-items: center;
width: 100vw;
margin-left: 100px;

}
.images img{
    width: 100px;
    margin-left: 120px;
  
}
/***** End container2 section *****/

/***** container3 section *****/
.container3{
    position: relative;
    display: flex;
   margin-top: 110px;
   background-image: url(./assets/images/bg1_pickmyad.png) ;
    max-width: 100vw;
    height: 1000px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 10%;
    transition: 3s;
    margin-left: 80px;
    margin-right: 80px;
}
.shrink{
    border-radius: 0px;
    width: 1500px;
    margin-left: 0;
    margin-right: 0;
    
   
}
.container3-content{
  
    margin-top: 370px;
    margin-left: 10%;
    color: white;
    width: 350px;
    height: 700px;
}
.container3-content .head3{
    font-weight: 900;
    font-size: 15px;
}
.sub-head{
    font-size: 60px;
    font-weight: bold;
    margin-top: 15px;
    font-family: fraunces,serif;
}
.sub-head1{
    font-family: fraunces,serif;
    font-size: 60px;
    font-weight: bold;
}
.container3-para{
    font-size: 16px;
    font-weight: 400;
    margin-top: 15px;
    line-height: 20px;
    font-family: figtree,sans-serif;
}
.container3-button{
    margin-top: 10px;
    border: none;
    border-radius: 20px;
    width: 130px;
    height: 50px;
    outline: none;
    box-sizing: border-box;
}

.container3-button button{
    padding: 10px;
    background-color: white;
    color:#534542;
    text-align: center;
    outline: none;
    border-radius: 10px;
    cursor: pointer;
    border: none;
    width: 205px;
    height: 50px;
    font-size: 17px;
    font-weight: 500;
    color: #4A271E;
    margin-top: 10px;
    box-sizing: border-box;
    position: relative;
    overflow: hidden;
    
}
.sliding{
    position: absolute;
    width: 200px;
    height: 50px;
    background-color: #e95d56;
    animation: sliding 0.6s ease-in-out infinite;
    transform: skewY(-35deg);
    opacity: 0.7;

}
@keyframes sliding{
    0% {left: -100%;}

    100% {left: 100%;}
}

.container3-content1{
    position: relative;
    margin-left: 40px;
    display: flex;
    overflow: hidden;
}

.content1-influencer1{
    width: 500px;
    height: 300px;
    position: absolute;
    position: relative;
    margin-top: 60px;
    transform: rotateY(0deg);
    transition: transform 0.5s ease-in-out;
    animation: slide-up 24s linear infinite;
}
@keyframes slide-up {
    0% {
      transform: translateY(100%);
    }
    100% {
      transform: translateY(-700%);
    
 
}
  }

  .influ1-content{
    margin-top: 100px;
  }

.influ2-content{
  margin-top: 300px;
}
.big-img{
    width: 350px;
    height: 380px;
    border-radius: 50px;
    box-sizing: border-box;
    object-fit: cover;
    opacity: 0.8;
    
}

.profile-img{
    width: 45px;
    height: 45px;
    border-radius: 50%;
    border: white solid 4px;
}


.inner-img{
    position: relative;
}

.images-content{
    position: absolute;
    top: 30px;
    left: 30px;
}

.influ-name{
    color: white;
    font-size: 26px;
    font-weight: bolder;
    font-family: figtree,sans-serif;
    margin-top: 5px;
    opacity: 0.8;
}

.influ-rate{
    color: white;
    background-color: #281511;
    opacity: 0.9;
    border-radius: 10px;
    width: 68px;
    height: 31px;
    padding: 5px 10px;
    margin-left: 40px;
    margin-bottom: 5px;
    text-align: center;
}
.influ-rate span{
    margin-right: 5px;
}

.influ-bottom{
    margin-top: 75%;
    margin-left: 15px;

  
}
.influ-title{
    color: white;
    opacity: 0.6;
    font-family: figtree,sans-serif;
}

.head-rate{
    display: flex;
}


.conten1-influencer2{
    width: 500px;
    height: 330px;
    position: absolute;
   margin-left: 50px;
   position: relative;
   margin-top: 400px;
   animation: slide-up 24s linear infinite;
}
@keyframes slide-up {
    0% {
      transform: translateY(100%);
    }
    100% {
      transform: translateY(-900%);
    }
  }


/***** End container3 section *****/

/***** Container4 Section *****/
.container4{
    margin-top: 180px;
    width: 100vw;
    display: flex;
    margin-left: 60px;
    position: relative;
    z-index: -3;
}
.container4-content1{
    width: 700px;
    position: relative;
   
}
.image1 .meet{
    width: 310px;
    height: 600px;
    box-sizing: border-box;
    border-radius: 20px;
    object-fit: cover;
    margin-left: 20px;
   
}
.youtube1{
    width: 65px;
    height: 65px;
    position: absolute;
    top: 25%;
    left: 73%;
    border-radius: 50%;
    padding: 0;
    margin: 0;
    cursor: pointer;
    /* display: none; */
}
/* .image1:hover .youtube{
    display: block;
} */
.youtube{
    width: 65px;
    height: 65px;
    position: absolute;
    top: 40%;
    left: 21%;
    border-radius: 50%;
    padding: 0;
    margin: 0;
    cursor: pointer;
    /* display: none; */
}
/* .image2:hover .youtube1{
    display: block;
} */
.image1 span .youtube{
    width: 60px;
    height: 60px;
    animation: pulsing 3s infinite;
    background-color: red;
    opacity: 0.8;
    
}
.image2 span .youtube1{
    width: 60px;
    height: 60px;
    animation: pulsing 3s infinite;
    background-color: red;
    opacity: 0.8;

}
@keyframes pulsing{
    0% {
        transform: scale(.2,.2);
        opacity: 0;
        -ms-filter: "alpha(opacity=0)";
    }
    50% {
        opacity: .9;
        -ms-filter: "alpha(opacity=90)";
    }
    100% {
        transform: scale(.9,.9);
        opacity: 0;
        -ms-filter: "alpha(opacity=0)";
    }
}

/* 
.youtube{
    width: 65px;
    position: absolute;
    top: 26%;
    left: 72% ;
} */
.image1 p{
    position: absolute;
    color: white;
    top: 85%;
    margin-left: 35px;
    font-size: 45px;
    padding: 10px;
    font-weight: bold;
    font-family: figtree,sans-serif;
}
.image2 .girl{
    width: 310px;
    height: 420px;
    box-sizing: border-box;
    border-radius: 20px;
    object-fit: cover;
    margin-left: 30px;
}
.image2 p{
    position: absolute;
    color: white;
    top: 55%;
    margin-left: 42px;
    font-size: 45px;
    padding: 10px;
    font-weight: bold;
    font-family: figtree,sans-serif;
}
.content1-images{
    display: flex;
    cursor: pointer;
}
.container4-content2{
    margin-left: 60px;
    margin-top: 90px;
    width: 100%;
  
}
.container4-head .head4{
    font-size: 17px;
    font-weight: 500;
    font-family: figtree,sans-serif;
}
.container4-subhead{
    font-size: 37px;
   margin-top: 20px;
   width: 650px;
   line-height: 1.2;
}
.container4-para{
    font-family: figtree,sans-serif;
    margin-top: 18px;
    font-size: 17px;
    font-weight: 400;
    color: #281713CC;
    font-weight: 400;
    width: 620px;
}
.container4-stats{
    font-family: figtree,sans-serif;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 500px;
    margin-top: 50px;
    gap: 15px;
}
.stat-box{
    display: flex;
    flex-direction: column;
}
.stat-box span{
    font-size: 50px;
    font-weight: bold;
    color: #D15737;
    font-family: 'Roboto', sans-serif;
}
.stat-button button{
         display: none;
}
.stat-box p{
    width: 170px;
    margin-top: 5px;
    color: #281713A6;
    font-weight: 500;
}
/***** End Container4 Section *****/

/***** container5 Section *****/
.container5{
    width: 100vw;
    height: 480px;
    padding-bottom: 20px;
}
.container5-content1{
    width: 700px;
    margin-top: 10px;
}

.container5-content{
    width: 1313px;
    height: 495px;
    margin-top: 150px;
    margin-left: 80px;
    background: linear-gradient(to left,#ace0f9 5%,#fef1eb 90%);
    border-radius: 50px;
    padding: 50px;
    display: flex;

}
.container5-head{
    padding: 5px;
    font-weight: 500;
    width: 100vw;
    font-family: figtree,sans-serif;
}
.container5-subhead{
    font-family: fraunces,serif;
    padding: 5px;
    font-size: 35px;
    width: 700px;
}
.container5-text{
    padding: 5px;
    font-size: 16px;
    font-weight: 400;
    width: 520px;
    color: #53423E;
    font-family: figtree,sans-serif;
}
.container5-button{
    margin-top: 13px;
    padding: 5px;
}
.container5-button a{
    text-decoration: none;
}
.container5-button button{
    width: 140px;
    height: 47px;
    background-color: #281511;
    border-radius: 8px;
    border: none;
    outline: none;
    color: white;
    padding: 15px;
    font-weight: 700;
    font-size: 1rem;
    cursor: pointer;
}
.container5-content2{
    width: 85%;
    height: 485px;
  

}
.content5-images img{
    width: 500px;
    height: 350px;
    cursor: pointer;


}
/***** End container5 Section *****/

/***** container6 section *****/
.container6{
    width: 100vw;
    height: auto;
    margin-top: 150px;

}
.container6-content{
    display: flex;
}
.container6-content1{
    margin-left: 80px;
    margin-top: 25px;
    
}
.container6-head{
    width: 100%;
    padding: 10px;
}
.container6-head .head6{
    display: inline-block;
    color: black;
    font-weight: 500;
    font-family: figtree,sans-serif;
}
.container6-subhead{
    width: 100%;
    padding: 5px;
    font-size: 57px;
    font-weight: bold;
    font-family: fraunces,serif;
}
.container6-subhead h2{
    display: inline-block;
    font-size: 62px;
    width: 300px;
    color: black;
}
.container6-text{
    width: 100%;
    padding: 5px;
    font-family: figtree,sans-serif;
}
.container6-text p{
    width: 350px;
    color:#534542;
    font-size: 600;
   line-height: 25px;
 
}
.container6-button{
    width: 205px;
    height: 50px;
    background-color: #281713;
    border-radius: 10px;
    text-align: center;
    padding: 10px;
    margin-left: 3px;
    margin-top: 5px;
    
}
.container6-button button{
    cursor: pointer;
    border: none;
    outline: none;
    color: white;
    font-weight:bold;
    font-size: 16px;
    background: transparent;
    padding: 5px;
}
.container6-content2{
    width: 100%;
    height: auto;
    margin-left: 35px;
    position: relative;
    overflow: hidden;
}
.content6-cards{
    display: flex;
    align-items: center;
    width: 100%;
    height: auto;
    position: absolute;
    animation: moving 12s linear infinite;
  
}
@keyframes moving{
    0%{
        right: 0;
    }
    100%{
        right: 90%;
    }
}
.content6-cards:hover{
    animation-play-state: paused;
    cursor: pointer;
}
.content6-cards .card1{
    width: 310px;
    height: 360px;
    padding: 25px;
    background-color: #E1E4EE;
    padding: 30px;
    margin-left: 20px;
    
}
.card1:hover{
    .readmore1 span{
        display: block;
    }
}
.card2:hover{
    .readmore2 span{
        display: block;
    }
}
.card3:hover{
    .readmore3 span{
        display: block;
    }
}
.card1-head{
    font-family: figtree,sans-serif;
    color: #6574A6;
    margin-top: 20px;
    font-size: 10px;
    font-weight: 600;
}
.card1-title{
    margin-top: 15px;
    font-size: 27px;
    font-weight: 600;
    font-family: fraunces,serif;
}
.card1-body{
    /* width: 194px;
    height: 75px; */
    margin-top: 13px;
    color: #969591;
    font-weight: 400;
    font-size: 12px;
    font-family: figtree,sans-serif;
}
.readmore1{
    display: flex;
    justify-content: space-between;
    width: 220px;
    color: #969591;
    margin-top: 40px;
    font-family: figtree,sans-serif;
    font-size: 12px;
    font-weight: 500;
    cursor: pointer;
}
.readmore1 span{
    display: none;
    cursor: pointer;
}
.readmore2{
    display: flex;
    justify-content: space-between;
    width: 220px;
    color: #969591;
    margin-top: 28px;
    font-family: figtree,sans-serif;
    font-size: 12px;
    font-weight: 500;
}
.readmore2 span{
    display: none;
    cursor: pointer;
}
.readmore3{
    display: flex;
    justify-content: space-between;
    width: 220px;
    color: #969591;
    margin-top: 22px;
    font-family: figtree,sans-serif;
    font-size: 12px;
    font-weight: 500;
}
.readmore3 span{
    display: none;
    cursor: pointer;
}

.content6-cards .card2{
    width: 310px;
    height: 360px;
    padding: 25px;
    background-color: #E7F6EB;
    padding: 30px;
    margin-left: 20px;
    
}
.card2-head{
    font-family: figtree,sans-serif;
    color: #43A537;
    margin-top: 20px;
    font-size: 10px;
    font-weight: 600;
}
.card2-title{
    margin-top: 15px;
    font-size: 25px;
    font-weight: 600;
    font-family: fraunces,serif;
}
.card2-body{
    margin-top: 13px;
    color: #969591;
    font-weight: 400;
    font-size: 12px;
    font-family: figtree,sans-serif;
}
.content6-cards .card3{
    width: 280px;
    height: 360px;
    padding: 25px;
    background-color: #F7E3E4;
    padding: 30px;
    margin-left: 20px;
    
}
.card3-head{
    font-family: figtree,sans-serif;
    width: 250px;
    color: #F6A84E;
    margin-top: 10px;
    font-size: 10px;
    font-weight: 600;
}
.card3-title{
    width: 150px;
    margin-top: 15px;
    font-size: 25px;
    font-weight: 600;
    font-family: fraunces,serif;
}
.card3-body{
    margin-top: 13px;
    color: #969591;
    font-weight: 400;
    font-size: 12px;
    font-family: figtree,sans-serif;
}
.card1-image{
  padding: 10px;
}
/***** End container6 section *****/

/***** Container7 section *****/
.container7{
    margin-top: 80px;
    width: 100vw;
    height: 850px;
    padding: 30px;
}
.faq-title{
    text-align: center;
    font-size: 54px;
    color: #281713;
    font-family: fraunces,serif;
}
.faq-title1{
    display: none;
}
.faq-section{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: space-around;
    padding: 25px;
    margin-top: 40px;
}
.faq-left li{
    list-style: none;
    margin-top: 20px;
    width: 600px;
    height: 53px;
    padding: 16px 24px;
    background-color: #fff6f1;
    color: #281713D9;
    border-radius: 40px;
    display: flex;
    justify-content: space-between;
    text-align: center;
    cursor: pointer;
    font-weight: 600;
    font-size: 16px;
    font-family: figtree,sans-serif;
}

li.active{
    background-color:#281511;
    color: white;
}
.li-para{
    display: none;
    width: 620px;
    font-size: 16px;
    color: #281713B3;
    height: auto;
    padding: 15px 20px 20px;
    font-family: figtree,sans-serif;
    line-height: 1.5rem;
    transition: 3s;
}

li:first-child div {
    display: block;
  }
/* .li-para1{
    display: none;
    width: 620px;
    font-size: 16px;
    color: #281713B3;
    height: auto;
    padding: 15px 20px 20px;
    font-family: figtree,sans-serif;
    line-height: 1.5rem;
    transition: 3s;
} */

.li-para a{
    text-decoration: none;
    color: rgb(0, 157, 255);
}
.faq-right li{
    list-style: none;
    margin-top: 20px;
    width: 600px;
    height: 53px;
    padding: 17px;
    background-color: #fff6f1;
    color: #281713D9;
    border-radius: 40px;
    display: flex;
    justify-content: space-between;
    cursor: pointer;
    font-weight: 600;
    font-size: 16px;
    font-family: figtree,sans-serif;
}

li.active{
    background-color:#281511;
    color: white;
}
.faq-box{
    width: 600px;
    height: 220px;
    border: 1px solid black;
    border-radius: 20px;
    margin-top: 40px;
    display: flex;
}
.faq-box-content{
    padding: 20px 30px;
}
.faq-head{
    font-weight: 500;
    font-size: 18px;
    margin-top: 10px;
}
.faq-para{
    font-family: figtree,sans-serif;
    font-weight: 300;
    margin-top: 20px;
    width: 330px;
    color: #53545B;
    line-height: 22px;
    font-size: 16px;
}
.faq-button{
    width: 150px;
    height: 50px;
    border: none;
    outline: none;
    background-color: #281511;
    border-radius: 10px;
    color: white;
    margin-top: 30px;
    font-weight: 500;
    font-size: 16px;
    cursor: pointer;
}
.faq-img img{
    margin-top: 80px;
    margin-left: 40px;
   
}
.faq-left li:hover{
    transition: ease-in-out 0.5s;
    background-color:#281511;
    color: white;
}

.faq-right li:hover{
    transition: ease-in-out 0.5s;
    background-color:#281511 ;
    color: white;
}

/* **** End Container7 section **** */

/***** Container8 Section *****/
.container8{
  width: 100vw;
  height: 550px;
  background-color: #281713;
  padding: 50px;
  margin-top: 92px;
}
.container8-footer{
    display: flex;
    align-items: center;
    padding: 50px;
}
.footer-left{
    width: 50%;
    margin-bottom: 100px;
    cursor: pointer;
}
.footer-right{
    width: 50%;
    display: flex;
    margin-top: 65px;
    margin-left: 100px;
}
.right-top{
    font-size: 12px;
    font-weight: bold;
    color: #FFFFFF73;
    width: 100px;
    font-family: figtree,sans-serif;

}
.footer-info{
    color: #FFFFFF;
    font-family: figtree,sans-serif;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
}
.right-2{
    margin-left: 100px;
}
.right-3{
    margin-left: 100px;
}
.right-1 p{
    padding: 8px;
}
.right-2 p{
    padding: 8px;
}
.right-3 p{
    padding: 8px;
}
.copy-rights{
    display: flex;
    align-items: center;
    color:#969591;
    padding: 50px;
    width: 100%;
}
.cp-right a{
    text-decoration: none;
    color: #969591;
}
.cp-left{
    color: #FFFFFFA6;
    font-weight: bold;
      font-size: 12px;
    font-family: figtree,sans-serif;
    width: 500px;
}
.cp-right {
    color: #FFFFFFA6;
    font-weight: 600;
    font-size: 12px;
    font-family: figtree,sans-serif;
    margin-left: 63%;
    width: 700px;
}

/***** End Container8 Section *****/
.watsap{
    position: fixed;
    bottom: 22px;
    right: 13px;
    z-index: 1000;
    background-color: #4dc247;
    box-shadow: 2px 2px 6px rgba(0,0,0,0.4);
    border-radius: 25px;
    height: 50px;   
    width: 180px;
    color: white;
    padding: 20px;
   text-align: center;
   display: flex;
   cursor: pointer;
   align-items: center;
}
.watsap span{
    font-size: 16px;
    margin-left: 10px;
    font-weight: 400;
    font-family: figtree,sans-serif;
}

