*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

body::-webkit-scrollbar {
    width: 0; 
  }
  
/***** Container1 section *****/
.content{
    background-color: #FFF6F2;
    width: 100%;
    height: 420px;
}
.container1{
    width: 100vw;
    height: 90vh;
}

/* nav-content */
.nav-content{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    padding: 10px;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 1vw;
    padding-bottom: 1vw;
  

}

.nav-list{
    display: flex;
}
.nav-list ul{
    display: flex;
    list-style: none;
    

}
.nav-list ul li{
 
    cursor: pointer;
    display: flex;
    margin-left: 20px;
}

.nav-list ul li a{
    text-decoration: none;
    color: black;
}
.nav-list ul li a:hover{
    color: rgb(210, 90, 55);
}

.register{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 60%;
}
.register span{
    margin-left: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.register .sign-in{
    margin-right: 10px;
}
 .register .sign-up{
    width: 120px;
    padding: 10px;
    background-color: black;
    color: white;
    font-size: 18px;
    border-radius: 30px;
  padding-left: 20px;
  padding-right: 20px;
}

/* main-content */
.hero-section{
    display: flex;
    justify-content:center;
    align-items: center;
    flex-direction: column;
    width: 600px;
    height: 150px;
    margin-left: 30% ;
    text-align: center;
}
.hero-section p{
    font-size: 55px;
    margin-top: 100px;
    color: #4A271E;
}
.hero-box{
    width: 800px;
    height: 220px;
    background-color: black;
    border-radius: 40px;
    margin-left: 25%;
    margin-top:100px ;
    padding: 20px;
}
.search-box .input-box{
    display: flex;
    align-items: center;
     width: 700px;
       height: 60px;
       outline: none;
       border: none;
       border-radius: 30px;
       background-color: white;
       margin-left: 30px;
     padding: 2px;
}
.search-box input[type="text"] {
    width: 90%;
    height: 40px;
    border:none;
    outline: none;
    border-radius: 20px;
    padding-left: 10px;
    padding-right: 10px;
    }
    .search-box .search{
        color: white;
        cursor: pointer;
        background-color: red;
        border: none;
        border-radius: 30px;
        padding: 10px;
     
        width: 130px;
        height: 55px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .box-content .content1{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        width: 100%;
        margin-top: 40px;
    }
    .box-content .content1 p{
        margin-left: 50px;
    }
    .content1 .con{
      
      border-radius: 30px;
        padding: 5px;
        padding-right: 10px;
        box-shadow: rgba(91, 90, 90, 0.745) 0px 4px 12px;
    }

    .box-content .content2{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        margin-top: 20px;
    }
    .box-content .content2 p{
        margin-left: 50px;
    }
    .content2 .con1{
      
        border-radius: 30px;
          padding: 5px;
          padding-right: 10px;
          box-shadow: rgba(91, 90, 90, 0.745) 0px 4px 12px;
      }

/***** End Container1 section *****/


/***** container2 section *****/
.container2{
    margin-top: 30px;
}
.container-head{
    text-align: center;
    font-size: 12px;
}

.container-img .images{
display: flex;
justify-content: space-around;
align-items: center;
width: 100vw;
padding:0px 100px ;
margin-top: 50px;
}
.images img{
    width: 100px;
}
/***** End container2 section *****/

/***** container3 section *****/
.container3{
    position: relative;
    margin-top: 100px;
    background-image:url(./assets/images/bg_pickmyad1.png);
    max-width: 100vw;
    min-height: 700px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

}
.container3-content{
    position: absolute;
    margin-top: 250px;
    margin-left: 10%;
    color: white;
    width: 300px;
    height: 700px;
}
.container3-content .head3{
    font-weight: 900;
    font-size: 15px;
}
.sub-head{
    font-size: 60px;
    font-weight: bold;
    margin-top: 20px;
}
.sub-head1{
    font-size: 60px;
    font-weight: bold;
}
.container3-para{
    font-size: medium;
    font-weight: 700;
    margin-top: 20px;
}
.container3-button{
    margin-top: 10px;
    border: none;
    border-radius: 20px;
    width: 150px;
    height: 50px;
    outline: none;
}
.container3-button button{
    padding: 5px;
    background-color: white;
    color: black;
    text-align: center;
    outline: none;
    border-radius: 10px;
    cursor: pointer;
    border: none;
    width: 250px;
    height: 40px;
    font-size: 15px;
    font-weight: 500;
color: #4A271E;
margin-top: 10px;
}

/***** End container3 section *****/

